<app-header></app-header>
<div class="container">
  <h3 class="title">{{ "dashboard.welcome" | translate }}</h3>
  <img
    src="https://avatars.githubusercontent.com/u/24717852?s=280&v=4"
    class="img-logo"
    width="170px"
    height="150px"
    alt="ngx-translate-logo"
  />
  <p class="description">{{ "dashboard.description" | translate }}</p>
  <p>{{ "dashboard.sub-description" | translate }}</p>
  <p class="try-text">{{ "dashboard.try" | translate }}</p>
  <select name="language" (change)="setLanguage($event)">
    <option value="english">English</option>
    <option value="french">French</option>
  </select>
</div>
